---
import Layout from '~/layouts/Vanilla.astro';

const managementReportPosts = [
  {
    title: 'BuriKaigi 2026 ができるまで / 運営目線',
    date: '2026-01-14',
    image: 'https://res.cloudinary.com/zenn/image/upload/s--Thi4h8Jm--/c_fit%2Cg_north_west%2Cl_text:notosansjp-medium.otf_55:BuriKaigi%25202026%2520%25E3%2581%258C%25E3%2581%25A7%25E3%2581%258D%25E3%2582%258B%25E3%2581%25BE%25E3%2581%25A7%2520%252F%2520%25E9%2581%258B%25E5%2596%25B6%25E7%259B%25AE%25E7%25B7%259A%2Cw_1010%2Cx_90%2Cy_100/g_south_west%2Cl_text:notosansjp-medium.otf_37:xin9le%2Cx_203%2Cy_121/g_south_west%2Ch_90%2Cl_fetch:aHR0cHM6Ly9zdG9yYWdlLmdvb2dsZWFwaXMuY29tL3plbm4tdXNlci11cGxvYWQvYXZhdGFyLzU2YWIzNmRlZWYuanBlZw==%2Cr_max%2Cw_90%2Cx_87%2Cy_95/v1627283836/default/og-base-w1200-v2.png?_a=BACAGSGT',
    url: 'https://zenn.dev/xin9le/articles/c3ddd0412b3b22',
    account: 'xin9le',
  },
];

const reportPosts = [
  {
    title: 'BuriKaigi 2026でUnicodeの行く末についていろいろなプログラミング言語を調べたトークをしてきました #burikaigi',
    date: '2026-01-10',
    image: 'https://img.tekitoh-memdhoi.info/media/filter/l/img/PXL_20260110_063600922.png',
    url: 'https://tekitoh-memdhoi.info/views/928',
    account: 'youkidearitai',
  },
  {
    title: '【イベントレポート】BuriKaigi 2026（スタッフ + TDD Bootcamp）',
    date: '2026-01-11',
    image:
      'https://qiita-user-contents.imgix.net/https%3A%2F%2Fqiita-user-contents.imgix.net%2Fhttps%253A%252F%252Fcdn.qiita.com%252Fassets%252Fpublic%252Farticle-ogp-background-afbab5eb44e0b055cce1258705637a91.png%3Fixlib%3Drb-4.0.0%26w%3D1200%26blend64%3DaHR0cHM6Ly9xaWl0YS11c2VyLXByb2ZpbGUtaW1hZ2VzLmltZ2l4Lm5ldC9odHRwcyUzQSUyRiUyRnFpaXRhLWltYWdlLXN0b3JlLnMzLmFwLW5vcnRoZWFzdC0xLmFtYXpvbmF3cy5jb20lMkYwJTJGMzU1MDQ4JTJGcHJvZmlsZS1pbWFnZXMlMkYxNzUyMzcxMTIxP2l4bGliPXJiLTQuMC4wJmFyPTElM0ExJmZpdD1jcm9wJm1hc2s9ZWxsaXBzZSZiZz1GRkZGRkYmZm09cG5nMzImcz1lOWRhOWQ1ZDg2YzgyNzVkMDdiOTJlNWUzZGM1OTM3NA%26blend-x%3D120%26blend-y%3D467%26blend-w%3D82%26blend-h%3D82%26blend-mode%3Dnormal%26s%3D52db0484de81389ea187e911704018a1?ixlib=rb-4.0.0&w=1200&fm=jpg&mark64=aHR0cHM6Ly9xaWl0YS11c2VyLWNvbnRlbnRzLmltZ2l4Lm5ldC9-dGV4dD9peGxpYj1yYi00LjAuMCZ3PTk2MCZoPTMyNCZ0eHQ9JUUzJTgwJTkwJUUzJTgyJUE0JUUzJTgzJTk5JUUzJTgzJUIzJUUzJTgzJTg4JUUzJTgzJUFDJUUzJTgzJTlEJUUzJTgzJUJDJUUzJTgzJTg4JUUzJTgwJTkxQnVyaUthaWdpJTIwMjAyNiVFRiVCQyU4OCVFMyU4MiVCOSVFMyU4MiVCRiVFMyU4MyU4MyVFMyU4MyU5NSUyMCUyQiUyMFRERCUyMEJvb3RjYW1wJUVGJUJDJTg5JnR4dC1hbGlnbj1sZWZ0JTJDdG9wJnR4dC1jb2xvcj0lMjMxRTIxMjEmdHh0LWZvbnQ9SGlyYWdpbm8lMjBTYW5zJTIwVzYmdHh0LXNpemU9NTYmdHh0LXBhZD0wJnM9YzAwMTQ1NmU5OGIxNTdkMDZhMTc1OTFkOTE0NjczZmI&mark-x=120&mark-y=112&blend64=aHR0cHM6Ly9xaWl0YS11c2VyLWNvbnRlbnRzLmltZ2l4Lm5ldC9-dGV4dD9peGxpYj1yYi00LjAuMCZ3PTgzOCZoPTU4JnR4dD0lNDBrX2FkYWNoaV8wMSZ0eHQtY29sb3I9JTIzMUUyMTIxJnR4dC1mb250PUhpcmFnaW5vJTIwU2FucyUyMFc2JnR4dC1zaXplPTM2JnR4dC1wYWQ9MCZzPWIxN2Q1OTg1MzI0OGZkOTc2MzYyMzdlZGRhNmZlNmY0&blend-x=242&blend-y=480&blend-w=838&blend-h=46&blend-fit=crop&blend-crop=left%2Cbottom&blend-mode=normal&s=7c15a019a710f1e7ddbd29a5d0ace041',
    url: 'https://qiita.com/k_adachi_01/items/4aae3afde8f93a0d44a1',
    account: 'k_adachi_01',
  },
  {
    title: 'TinyGo Keeb Tour 2026 in Toyama with BuriKaigi を開催しました',
    date: '2026-01-11',
    image: 'https://tinygo-keeb.org/blog/wp-content/uploads/2026/01/PXL_20260109_040724167-scaled.jpg',
    url: 'https://tinygo-keeb.org/blog/?p=166',
    account: 'sago35',
  },
  {
    title: 'BuriKaigi 2026は、とても良いカンファレンスでした。 #burikaigi',
    date: '2026-01-12',
    image: 'https://cdn.blog.st-hatena.com/images/theme/og-image-1500.png',
    url: 'https://kaitou.hatenadiary.com/entry/2026/01/12/002936',
    account: 'kaitou',
  },
  {
    title: 'BuriKaigi 2026に参加し登壇しました｜Capi(かぴ )',
    date: '2026-01-11',
    image: 'https://assets.st-note.com/production/uploads/images/242828535/rectangle_large_type_2_c5e2d2a820ac2dbb7373602cc392a099.jpeg?fit=bounds&quality=85&width=1280',
    url: 'https://note.com/yousaku98/n/n04ab9f067895',
    account: 'yousaku98',
  },
  {
    title: 'Burikaigi2026をスピーカーとしても参加者としても堪能できた話 #burikaigi',
    date: '2026-01-13',
    image:
      'https://assets.st-note.com/production/uploads/images/243601045/rectangle_large_type_2_3ad1adb0918c9f36ff61fd44af99f061.jpeg?fit=bounds&quality=85&width=1280',
    url: 'https://note.com/typhon666/n/na36da8a033ac',
    account: 'typhon666',
  },
  {
    title: 'BuriKaigi2026登壇レポート: 例外処理とResult型、どう使い分ける？',
    date: '2026-01-13',
    image:
      'https://res.cloudinary.com/zenn/image/upload/s--mQEnNXZa--/c_fit%2Cg_north_west%2Cl_text:notosansjp-medium.otf_55:BuriKaigi2026%25E7%2599%25BB%25E5%25A3%2587%25E3%2583%25AC%25E3%2583%259D%25E3%2583%25BC%25E3%2583%2588%253A%2520%25E4%25BE%258B%25E5%25A4%2596%25E5%2587%25A6%25E7%2590%2586%25E3%2581%25A8Result%25E5%259E%258B%25E3%2580%2581%25E3%2581%25A9%25E3%2581%2586%25E4%25BD%25BF%25E3%2581%2584%25E5%2588%2586%25E3%2581%2591%25E3%2582%258B%25EF%25BC%259F%2Cw_1010%2Cx_90%2Cy_100/g_south_west%2Cl_text:notosansjp-medium.otf_34:%25E6%25A2%25B6%25E5%25B7%259D%2520%25EF%25A9%258A%25E9%25A6%25AC%2520%252F%2520Kajikawa%2520T...%2Cx_220%2Cy_108/bo_3px_solid_rgb:d6e3ed%2Cg_south_west%2Ch_90%2Cl_fetch:aHR0cHM6Ly9zdG9yYWdlLmdvb2dsZWFwaXMuY29tL3plbm4tdXNlci11cGxvYWQvYXZhdGFyLzAxM2RmM2ZiYjAuanBlZw==%2Cr_20%2Cw_90%2Cx_92%2Cy_102/co_rgb:6e7b85%2Cg_south_west%2Cl_text:notosansjp-medium.otf_30:TechTrain%25E3%2583%2586%25E3%2583%2583%25E3%2582%25AF%25E3%2583%2596%25E3%2583%25AD%25E3%2582%25B0%2Cx_220%2Cy_160/bo_4px_solid_white%2Cg_south_west%2Ch_50%2Cl_fetch:aHR0cHM6Ly9zdG9yYWdlLmdvb2dsZWFwaXMuY29tL3plbm4tdXNlci11cGxvYWQvYXZhdGFyLzI2MTkxNDViMzEuanBlZw==%2Cr_max%2Cw_50%2Cx_139%2Cy_84/v1627283836/default/og-base-w1200-v2.png?_a=BACAGSGT',
    url: 'https://zenn.dev/techtrain_blog/articles/burikaigi2026-exception-or-result-type',
    account: 'kajitack',
  },
  {
    title: 'BuriKaigi 2026 2日目に参加した',
    date: '2026-01-10',
    image: 'https://cdn.blog.st-hatena.com/images/theme/og-image-1500.png',
    url: 'https://namonakimichi.hatenablog.com/entry/2026/01/10/194306',
    account: 'namonakimichi',
  },
  {
    title: 'BuriKaigi 2026のt_wadaさん講演まとめ＆感想',
    date: '2026-01-10',
    image:
      'https://assets.st-note.com/production/uploads/images/245359505/rectangle_large_type_2_d1c4329eb504805ebc5d9d978afed99a.png?width=1280',
    url: 'https://note.com/kyamamoto9120/n/n1fc0ffafac71',
    account: 'kyamamoto9120',
  },
  {
    title: 'BuriKaigiで TinyGo Keeb Tour と LT をしてきた話',
    date: '2026-01-11',
    image:
      'https://res.cloudinary.com/zenn/image/upload/s--eU3IP561--/c_fit%2Cg_north_west%2Cl_text:notosansjp-medium.otf_55:BuriKaigi%25E3%2581%25A7%2520TinyGo%2520Keeb%2520Tour%2520%25E3%2581%25A8%2520LT%2520%25E3%2582%2592%25E3%2581%2597%25E3%2581%25A6%25E3%2581%258D%25E3%2581%259F%25E8%25A9%25B1%2Cw_1010%2Cx_90%2Cy_100/g_south_west%2Cl_text:notosansjp-medium.otf_37:senoue%2Cx_203%2Cy_121/g_south_west%2Ch_90%2Cl_fetch:aHR0cHM6Ly9zdG9yYWdlLmdvb2dsZWFwaXMuY29tL3plbm4tdXNlci11cGxvYWQvYXZhdGFyLzBhMjYyYWE0MTYuanBlZw==%2Cr_max%2Cw_90%2Cx_87%2Cy_95/v1627283836/default/og-base-w1200-v2.png?_a=BACAGSGT',
    url: 'https://zenn.dev/senoue/articles/f0de786085de4e',
    account: 'senoue',
  },
  {
    title: 'BuriKaigi 2026に登壇 & 協賛してきました！',
    date: '2026-01-21',
    image: 'https://cdn-ak.f.st-hatena.com/images/fotolife/c/cybozuinsideout/20260121/20260121113002.webp',
    url: 'https://blog.cybozu.io/entry/2026/01/21/113000',
    account: 'cybozuinsideout',
  },
  {
    title:
      'BuriKaigi 2026で「React 19でつくる『気持ちいいUI』— 楽観的更新のすすめ」というタイトルで登壇しました',
    date: '2026-01-10',
    image:
      'https://devio2024-media.developers.io/image/upload/f_auto%2Cq_auto%2Cw_3840/v1768012622/user-gen-eyecatch/dctuhpl4xtfjltz9fpsu.png',
    url: 'https://dev.classmethod.jp/articles/burikaigi-2026-about-optimistic-ui/',
    account: '森茂洋',
  },
  {
    title:
      'Burikaigi 2026で「チームで安全にClaude Codeを利用するためのプラクティス」というタイトルで登壇しました！',
    date: '2026-01-09',
    image:
      'https://devio2024-media.developers.io/image/upload/f_auto%2Cq_auto%2Cw_3840/v1767938314/user-gen-eyecatch/widtcnshvbaciap3ycya.png',
    url: 'https://dev.classmethod.jp/articles/burikaigi-2026-claude-code-practice/',
    account: '佐藤智樹',
  },
  {
    title: 'BuriKaigi 2026 にスポンサー参加しました',
    date: '2026-02-02',
    image: 'https://developers.cyberagent.co.jp/blog/wp-content/uploads/2026/01/image2-300x224.jpg',
    url: 'https://developers.cyberagent.co.jp/blog/archives/61972/',
    account: 'kuboyoichiro',
  },
  {
    title: 'BuriKaigi 2026 ではじめて枠登壇した',
    date: '2026-02-01',
    image:
      'https://cdn.image.st-hatena.com/image/scale/320173b741ac64315020b7c387ee878f5ba4751c/backend=imagemagick;version=1;width=1300/https%3A%2F%2Fcdn-ak.f.st-hatena.com%2Fimages%2Ffotolife%2Fs%2Fsogaoh%2F20260110%2F20260110090906.jpg',
    url: 'https://sogaoh.hatenablog.com/entry/2026/02/01/152811',
    account: 'sogaoh',
  },
  {
    title: 'BuriKaigi 2026 に参加 & 登壇してきました！',
    date: '2026-02-10',
    image: 'https://tech.pepabo.com/blog/2026/02/10/burikaigi2026/images/thumbnail.png',
    url: 'https://tech.pepabo.com/2026/02/10/burikaigi2026/',
    account: 'pepabo',
  },
  {
    title: 'BuriKaigi 2026 参加レポート',
    date: '2026-01-14',
    image:
      'https://res.cloudinary.com/zenn/image/upload/s--Cw6fmZ81--/c_fit%2Cg_north_west%2Cl_text:notosansjp-medium.otf_55:BuriKaigi%25202026%2520%25E5%258F%2582%25E5%258A%25A0%25E3%2583%25AC%25E3%2583%259D%25E3%2583%25BC%25E3%2583%2588%2Cw_1010%2Cx_90%2Cy_100/g_south_west%2Cl_text:notosansjp-medium.otf_34:%25E5%25B1%25B1%25E6%259C%25AC%2520%25E4%25B8%2580%25E5%25B0%2586%2Cx_220%2Cy_108/bo_3px_solid_rgb:d6e3ed%2Cg_south_west%2Ch_90%2Cl_fetch:aHR0cHM6Ly9zdG9yYWdlLmdvb2dsZWFwaXMuY29tL3plbm4tdXNlci11cGxvYWQvYXZhdGFyLzRkYzRiMzQ0MTEuanBlZw==%2Cr_20%2Cw_90%2Cx_92%2Cy_102/co_rgb:6e7b85%2Cg_south_west%2Cl_text:notosansjp-medium.otf_30:MOSH%2Cx_220%2Cy_160/bo_4px_solid_white%2Cg_south_west%2Ch_50%2Cl_fetch:aHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUNnOG9jTGhjTFl3a2FkVDhIRGlZa3dkM1RkSlQyWFU2a0Ewc1dqaWVkRzdsd3FHVnNaRm1pOEo9czk2LWM=%2Cr_max%2Cw_50%2Cx_139%2Cy_84/v1627283836/default/og-base-w1200-v2.png?_a=BACAGSGT',
    url: 'https://zenn.dev/moshjp/articles/98295523e39be8',
    account: 'moshjp',
  },
  {
    title: 'BuriKaigi 2026に登壇しました',
    date: '2026-01-14',
    image:
      'https://assets.st-note.com/production/uploads/images/243869337/rectangle_large_type_2_95fbab8b19ab561121acbc452625a80e.png?width=1280',
    url: 'https://note.com/yamanoku/n/n7ea134e44551',
    account: 'yamanoku',
  },
  {
    title: 'BuriKaigi2026が最高だった',
    date: '2026-01-17',
    image:
      'https://res.cloudinary.com/zenn/image/fetch/s--1I0CsxF3--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_1200/https%3A//storage.googleapis.com/zenn-user-upload/deployed-images/423142d0b7cee801adfecbb6.png%3Fsha%3D96d077ca96f6ccb109a1510777fa6f48fd0ffab4',
    url: 'https://zenn.dev/mj2mkt/articles/2026-01-17-burikaigi-2026',
    account: 'mj2mkt',
  },
  {
    title: 'エンジニアではない私が、BuriKaigi2026でスポンサーLTをすることになるなんて。',
    date: '2026-01-17',
    image:
      'https://assets.st-note.com/production/uploads/images/244497006/rectangle_large_type_2_8a18b330c669898fdcb510848a0e1030.png?fit=bounds&quality=85&width=1280',
    url: 'https://note.com/hiraisoko_rai/n/nb73134edf9b4',
    account: 'hiraisoko_rai',
  },
  {
    title: 'BuriKaigi 2026@富山に行ってきました!',
    date: '2026-01-17',
    image:
      'https://res.cloudinary.com/zenn/image/fetch/s--mZ3kCokX--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_1200/https%3A//storage.googleapis.com/zenn-user-upload/deployed-images/064facf1914f0bf34e84be3d.png%3Fsha%3Db703d6846e3cdc07958fa61b206cd86a2463d013',
    url: 'https://zenn.dev/rudy/articles/2e3354cfb4ef80c0a26ff6e8f0a451fa',
    account: 'rudy',
  },
  {
    title: 'BuriKaigi 2026 参加レポート',
    date: '2026-01-17',
    image:
      'https://res.cloudinary.com/zenn/image/upload/s---KZVU9zT--/c_fit%2Cg_north_west%2Cl_text:notosansjp-medium.otf_55:BuriKaigi%25202026%2520%25E5%258F%2582%25E5%258A%25A0%25E3%2583%25AC%25E3%2583%259D%25E3%2583%25BC%25E3%2583%2588%2Cw_1010%2Cx_90%2Cy_100/g_south_west%2Cl_text:notosansjp-medium.otf_37:kinoshita_y%2Cx_203%2Cy_121/g_south_west%2Ch_90%2Cl_fetch:aHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUNnOG9jSWhjQmZzZS1wcEk5ZkQ0R1RyWDRkcXRGTjEwamdNWmNUSnV1MFdueEtvV2JCUUZCaz1zMjUwLWM=%2Cr_max%2Cw_90%2Cx_87%2Cy_95/v1627283836/default/og-base-w1200-v2.png?_a=BACAGSGT',
    url: 'https://zenn.dev/kinoshita_y/articles/e912ea6dce2290',
    account: 'kinoshita_y',
  },
  {
    title: 'BuriKaigi 2026 に参加した',
    date: '2026-01-14',
    image: 'https://cdn.blog.st-hatena.com/images/theme/og-image-1500.png',
    url: 'https://yoshitaku-jp.hatenablog.com/entry/2026/01/14/190000',
    account: 'yoshitaku_jp',
  },
  {
    title:
      'BuriKaigi 2026 当日スタッフ＆スピーカー参加（1/9-10）＋富山市ガラス美術館・下呂温泉合掌村（1/11）',
    date: '2026-01-16',
    image: 'https://cdn.blog.st-hatena.com/images/theme/og-image-1500.png',
    url: 'https://hmatsu47.hatenablog.com/entry/2026/01/16/022458',
    account: 'hmatsu47',
  },
  {
    title: 'BuriKaigi 2026に参加しました',
    date: '2026-01-16',
    image: 'https://www.ryokatsu.dev/images/tateyama-mountain.JPG',
    url: 'https://www.ryokatsu.dev/blog/2026/burikaigi-2026/',
    account: 'ryokatsu',
  },
  {
    title: 'BuriKaigi 2026 で Lean によるコンパイラの証明について話してきました',
    date: '2026-01-15',
    image:
      'https://cdn.image.st-hatena.com/image/scale/271bf924998adced80a012d7b355fca7a15bd490/backend=imagemagick;version=1;width=1300/https%3A%2F%2Fcdn-ak.f.st-hatena.com%2Fimages%2Ffotolife%2Fy%2Fy_taka_23%2F20260115%2F20260115021605.jpg',
    url: 'https://ccvanishing.hateblo.jp/entry/2026/01/16/003718',
    account: 'ccvanishing',
  },
  {
    title: 'BuriKaigi 2026 参加レポート',
    date: '2026-01-12',
    image:
      'https://assets.st-note.com/production/uploads/images/243659031/rectangle_large_type_2_6afecff818af2d270ee4db00061db743.png?width=1280',
    url: 'https://note.com/hashimo2/n/nf92a2ae04188',
    account: 'hashimo2',
  },
  {
    title: '〖イベントレポート〗Burikaigiはやっぱりブリが美味しい',
    date: '2026-01-12',
    image:
      'https://assets.st-note.com/production/uploads/images/243383041/rectangle_large_type_2_65dc1d7fbfd0e0d5cb5d7904e03a5420.png?width=1280',
    url: 'https://note.com/mob_engineer/n/n5e4a14d8e093',
    account: 'mob_engineer',
  },
  {
    title: 'Burikaigi 2026 に参加してきた',
    date: '2026-01-10',
    image: 'https://assets.st-note.com/img/1768054700-CY1BINuUqrEpsvLkbhonXD73.jpg?width=1200',
    url: 'https://note.com/link_sudo/n/na69deda326ba',
    account: 'link_sudo',
  },
  {
    title: 'BuriKaigi 2026 スポンサー参加レポート',
    date: '2026-01-16',
    image:
      'https://assets.st-note.com/production/uploads/images/244304304/rectangle_large_type_2_dd304d8a68f70603bd13b08cdbe53c61.jpeg?width=1280',
    url: 'https://note.com/echizen_sh/n/n7f7c7c276dee',
    account: 'echizen_sh',
  },
  {
    title: 'エンジニアではない私のBuriKaigi 2026の楽しみかた',
    date: '2026-01-14',
    image:
      'https://assets.st-note.com/production/uploads/images/243869796/rectangle_large_type_2_e26d9a94f805cd1929de42d175f08f64.png?width=1280',
    url: 'https://note.com/3nori/n/nc7ecb11bc77a',
    account: '3nori',
  },
  {
    title: 'Burikaigi 2026で気づいた、生成AI開発「2年間の空白」と進化の正体 —— 手作りRAGから『AIエージェント』の時代へ',
    date: '2026-01-12',
    image:
      'https://qiita-user-contents.imgix.net/https%3A%2F%2Fqiita-user-contents.imgix.net%2Fhttps%253A%252F%252Fcdn.qiita.com%252Fassets%252Fpublic%252Farticle-ogp-background-afbab5eb44e0b055cce1258705637a91.png%3Fixlib%3Drb-4.0.0%26w%3D1200%26blend64%3DaHR0cHM6Ly9xaWl0YS11c2VyLXByb2ZpbGUtaW1hZ2VzLmltZ2l4Lm5ldC9odHRwcyUzQSUyRiUyRnFpaXRhLWltYWdlLXN0b3JlLnMzLmFwLW5vcnRoZWFzdC0xLmFtYXpvbmF3cy5jb20lMkYwJTJGMTg3MDMlMkZwcm9maWxlLWltYWdlcyUyRjE3NjUyNjM1MTI_aXhsaWI9cmItNC4wLjAmYXI9MSUzQTEmZml0PWNyb3AmbWFzaz1lbGxpcHNlJmJnPUZGRkZGRiZmbT1wbmczMiZzPWRlNmJkZDRiYWMxODA4YTA3YTFlMTg3MDM5MmNhMWFl%26blend-x%3D120%26blend-y%3D462%26blend-w%3D90%26blend-h%3D90%26blend-mode%3Dnormal%26mark64%3DaHR0cHM6Ly9xaWl0YS1vcmdhbml6YXRpb24taW1hZ2VzLmltZ2l4Lm5ldC9odHRwcyUzQSUyRiUyRnMzLWFwLW5vcnRoZWFzdC0xLmFtYXpvbmF3cy5jb20lMkZxaWl0YS1vcmdhbml6YXRpb24taW1hZ2UlMkYyYzBiYzY3NGJjYjg4NDY2NDJlMjcwODMyNTY1ZTMzZTQ0MDYxM2YxJTJGb3JpZ2luYWwuanBnJTNGMTczMTMxMjc5ND9peGxpYj1yYi00LjAuMCZ3PTQ0Jmg9NDQmZml0PWNyb3AmbWFzaz1jb3JuZXJzJmNvcm5lci1yYWRpdXM9OCZiZz1GRkZGRkYmYm9yZGVyPTIlMkNGRkZGRkYmZm09cG5nMzImcz00ZTE1ODMxMWQxYTk5M2U5MjU2MGQzOTg2YjQ3N2JiZA%26mark-x%3D186%26mark-y%3D515%26mark-w%3D40%26mark-h%3D40%26s%3D3210d089aa3c1ddc1e160f7f420c1792?ixlib=rb-4.0.0&w=1200&fm=jpg&mark64=aHR0cHM6Ly9xaWl0YS11c2VyLWNvbnRlbnRzLmltZ2l4Lm5ldC9-dGV4dD9peGxpYj1yYi00LjAuMCZ3PTk2MCZoPTMyNCZ0eHQ9QnVyaWthaWdpJTIwMjAyNiVFMyU4MSVBNyVFNiVCMCU5NyVFMyU4MSVBNSVFMyU4MSU4NCVFMyU4MSU5RiVFMyU4MCU4MSVFNyU5NCU5RiVFNiU4OCU5MEFJJUU5JTk2JThCJUU3JTk5JUJBJUUzJTgwJThDMiVFNSVCOSVCNCVFOSU5NiU5MyVFMyU4MSVBRSVFNyVBOSVCQSVFNyU5OSVCRCVFMyU4MCU4RCVFMyU4MSVBOCVFOSU4MCVCMiVFNSU4QyU5NiVFMyU4MSVBRSVFNiVBRCVBMyVFNCVCRCU5MyUyMCVFMiU4MCU5NCVFMiU4MCU5NCUyMCVFNiU4OSU4QiVFNCVCRCU5QyVFMyU4MiU4QVJBRyVFMyU4MSU4QiVFMyU4MiU4OSVFMyU4MCU4RUFJJUUzJTgyJUE4JUUzJTgzJUJDJUUzJTgyJUI4JUUzJTgyJUE3JUUyJTgwJUE2JnR4dC1hbGlnbj1sZWZ0JTJDdG9wJnR4dC1jb2xvcj0lMjMxRTIxMjEmdHh0LWZvbnQ9SGlyYWdpbm8lMjBTYW5zJTIwVzYmdHh0LXNpemU9NTYmdHh0LXBhZD0wJnM9YTI5NTU4MzM5ZDQ4N2Y4NThhYjdlZjQwY2RkNTU2ZjU&mark-x=120&mark-y=112&blend64=aHR0cHM6Ly9xaWl0YS11c2VyLWNvbnRlbnRzLmltZ2l4Lm5ldC9-dGV4dD9peGxpYj1yYi00LjAuMCZ3PTgzOCZoPTU4JnR4dD0lNDBtaXlha2F3YTI0NDklNDBnaXRodWImdHh0LWNvbG9yPSUyMzFFMjEyMSZ0eHQtZm9udD1IaXJhZ2lubyUyMFNhbnMlMjBXNiZ0eHQtc2l6ZT0zNiZ0eHQtcGFkPTAmcz05ZThmMGMwMzE0YjdmOTAxODNjZTkxZjkyZDllMTVhYw&blend-x=242&blend-y=454&blend-w=838&blend-h=46&blend-fit=crop&blend-crop=left%2Cbottom&blend-mode=normal&txt64=UGhhbGFuWHdhcmU&txt-x=242&txt-y=539&txt-width=838&txt-clip=end%2Cellipsis&txt-color=%231E2121&txt-font=Hiragino%20Sans%20W6&txt-size=28&s=6c2db89c3f08bcc3094c5ed397e08e84',
    url: 'https://qiita.com/miyakawa2449@github/items/878ba6ce5d421a8a3507',
    account: 'miyakawa2449',
  },
  {
    title: 'ゼロから始めるAIシステム開発 #21 「生成AIトレンドハンズオン体験」',
    date: '2026-01-13',
    image:
      'https://qiita-user-contents.imgix.net/https%3A%2F%2Fqiita-user-contents.imgix.net%2Fhttps%253A%252F%252Fcdn.qiita.com%252Fassets%252Fpublic%252Farticle-ogp-background-afbab5eb44e0b055cce1258705637a91.png%3Fixlib%3Drb-4.0.0%26w%3D1200%26blend64%3DaHR0cHM6Ly9xaWl0YS11c2VyLXByb2ZpbGUtaW1hZ2VzLmltZ2l4Lm5ldC9odHRwcyUzQSUyRiUyRnBicy50d2ltZy5jb20lMkZwcm9maWxlX2ltYWdlcyUyRjE4MzQ1OTM4NzI1NzM1NDI0MDAlMkZvcWIwdG1oaF9iaWdnZXIuanBnP2l4bGliPXJiLTQuMC4wJmFyPTElM0ExJmZpdD1jcm9wJm1hc2s9ZWxsaXBzZSZiZz1GRkZGRkYmZm09cG5nMzImcz05OTU2MTVjMmM5NTQ0NzIyZjc5NzQ5ZmNjM2MyNTMxMg%26blend-x%3D120%26blend-y%3D462%26blend-w%3D90%26blend-h%3D90%26blend-mode%3Dnormal%26mark64%3DaHR0cHM6Ly9xaWl0YS1vcmdhbml6YXRpb24taW1hZ2VzLmltZ2l4Lm5ldC9odHRwcyUzQSUyRiUyRnMzLWFwLW5vcnRoZWFzdC0xLmFtYXpvbmF3cy5jb20lMkZxaWl0YS1vcmdhbml6YXRpb24taW1hZ2UlMkYyYzBiYzY3NGJjYjg4NDY2NDJlMjcwODMyNTY1ZTMzZTQ0MDYxM2YxJTJGb3JpZ2luYWwuanBnJTNGMTczMTMxMjc5ND9peGxpYj1yYi00LjAuMCZ3PTQ0Jmg9NDQmZml0PWNyb3AmbWFzaz1jb3JuZXJzJmNvcm5lci1yYWRpdXM9OCZiZz1GRkZGRkYmYm9yZGVyPTIlMkNGRkZGRkYmZm09cG5nMzImcz00ZTE1ODMxMWQxYTk5M2U5MjU2MGQzOTg2YjQ3N2JiZA%26mark-x%3D186%26mark-y%3D515%26mark-w%3D40%26mark-h%3D40%26s%3Daa0e3cf9ba3ad2393e33fb70ca4c9940?ixlib=rb-4.0.0&w=1200&fm=jpg&mark64=aHR0cHM6Ly9xaWl0YS11c2VyLWNvbnRlbnRzLmltZ2l4Lm5ldC9-dGV4dD9peGxpYj1yYi00LjAuMCZ3PTk2MCZoPTMyNCZ0eHQ9JUUzJTgyJUJDJUUzJTgzJUFEJUUzJTgxJThCJUUzJTgyJTg5JUU1JUE3JThCJUUzJTgyJTgxJUUzJTgyJThCQUklRTMlODIlQjclRTMlODIlQjklRTMlODMlODYlRTMlODMlQTAlRTklOTYlOEIlRTclOTklQkElMjAlMjMyMSUyMCVFMyU4MCU4QyVFNyU5NCU5RiVFNiU4OCU5MEFJJUUzJTgzJTg4JUUzJTgzJUFDJUUzJTgzJUIzJUUzJTgzJTg5JUUzJTgzJThGJUUzJTgzJUIzJUUzJTgyJUJBJUUzJTgyJUFBJUUzJTgzJUIzJUU0JUJEJTkzJUU5JUE4JTkzJUUzJTgwJThEJnR4dC1hbGlnbj1sZWZ0JTJDdG9wJnR4dC1jb2xvcj0lMjMxRTIxMjEmdHh0LWZvbnQ9SGlyYWdpbm8lMjBTYW5zJTIwVzYmdHh0LXNpemU9NTYmdHh0LXBhZD0wJnM9ZmRiMWM4Mjg2YWJmZjkxZTdhMTBjYzc5YzQzOWU3ZDU&mark-x=120&mark-y=112&blend64=aHR0cHM6Ly9xaWl0YS11c2VyLWNvbnRlbnRzLmltZ2l4Lm5ldC9-dGV4dD9peGxpYj1yYi00LjAuMCZ3PTgzOCZoPTU4JnR4dD0lNDBzaG9taW5haTIwMjQmdHh0LWNvbG9yPSUyMzFFMjEyMSZ0eHQtZm9udD1IaXJhZ2lubyUyMFNhbnMlMjBXNiZ0eHQtc2l6ZT0zNiZ0eHQtcGFkPTAmcz1iNTIyZGQ1NjU4MGZkMDM4NDVlZmZiM2RhOGYxMTZhZA&blend-x=242&blend-y=454&blend-w=838&blend-h=46&blend-fit=crop&blend-crop=left%2Cbottom&blend-mode=normal&txt64=UGhhbGFuWHdhcmU&txt-x=242&txt-y=539&txt-width=838&txt-clip=end%2Cellipsis&txt-color=%231E2121&txt-font=Hiragino%20Sans%20W6&txt-size=28&s=f18105a8417a2345bf4a0cfd48478e96',
    url: 'https://qiita.com/shominai2024/items/d7d4571750773b2af506',
    account: 'shominai2024',
  },
];

const sortedManagementReportPosts = [...managementReportPosts].sort((a, b) =>
  a.date.localeCompare(b.date)
);
const sortedReportPosts = [...reportPosts].sort((a, b) => a.date.localeCompare(b.date));
---

<Layout title="参加レポート">
  <div class="bg-gradient-to-br from-slate-50 via-blue-50 to-cyan-50 text-gray-900 scroll-smooth">
    <header class="sticky top-0 z-40 bg-white/90 backdrop-blur border-b border-gray-200">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-16 flex items-center justify-between">
        <div class="flex items-center gap-3">
          <img src="/images/2026/burikaigi-logo.png" alt="BuriKaigi ロゴ" class="w-10 h-10 object-contain" />
          <span class="font-semibold text-lg">BuriKaigi 2026</span>
        </div>
        <nav class="hidden md:flex items-center gap-6 text-sm font-medium">
          <a href="/2026/#about" class="hover:text-teal-600 transition-colors">概要</a>
          <a href="/2026/#keynote" class="hover:text-teal-600 transition-colors">基調講演</a>
          <a href="/2026/#workshops" class="hover:text-teal-600 transition-colors">ワークショップ</a>
          <a href="/2026/#sponsors" class="hover:text-teal-600 transition-colors">スポンサー</a>
          <a href="/2026/#event-info" class="hover:text-teal-600 transition-colors">開催情報</a>
          <a href="/2026/report" class="text-teal-700">参加レポート</a>
          <a href="/coc" class="hover:text-teal-600 transition-colors">CoC</a>
        </nav>
      </div>
    </header>

    <main>
      <section class="relative overflow-hidden pt-20 pb-10">
        <div class="relative z-10 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 text-center space-y-5">
          <p class="inline-flex items-center gap-2 bg-teal-600 text-white px-5 py-2 rounded-full text-sm shadow">イベント終了</p>
          <h1 class="text-4xl sm:text-5xl font-semibold tracking-tight">BuriKaigi 2026 参加レポート</h1>
          <p class="text-lg text-gray-700 max-w-3xl mx-auto leading-relaxed">
            ご参加・ご登壇・ご協賛いただきありがとうございます。<br />イベント当日の雰囲気を簡潔にまとめました。
          </p>
          <div class="mx-auto max-w-2xl rounded-2xl border border-teal-200 bg-teal-50 px-5 py-4 text-base text-teal-900 shadow-sm">
            <p class="font-semibold">内容は順次追記していきます。</p>
          </div>
        </div>
      </section>

      <section id="management-reports" class="pb-12">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="text-center mb-8">
            <h2 class="text-2xl sm:text-3xl font-semibold">運営レポート</h2>
            <p class="text-gray-700 mt-2">運営チームからのレポートをご紹介します。</p>
          </div>
          {sortedManagementReportPosts.length === 0 ? (
            <div class="mx-auto max-w-2xl rounded-2xl border border-gray-200 bg-white px-6 py-6 text-center text-gray-600 shadow-sm">
              近日公開予定です。
            </div>
          ) : (
            <div class="grid gap-6 sm:grid-cols-2">
              {sortedManagementReportPosts.map((post) => (
                <a
                  href={post.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="group bg-white rounded-3xl overflow-hidden shadow-lg border border-gray-200 hover:border-teal-500 hover:shadow-xl transition-colors"
                >
                  <div class="aspect-[16/9] bg-gray-100 overflow-hidden">
                    <img
                      src={post.image}
                      alt={post.title}
                      class="h-full w-full object-cover group-hover:scale-105 transition-transform"
                      loading="lazy"
                    />
                  </div>
                  <div class="p-6">
                    <div class="flex items-center justify-between text-xs text-gray-500">
                      <span>{post.date}</span>
                      <span>@{post.account}</span>
                    </div>
                    <h3 class="text-lg font-semibold text-gray-900 mt-2">{post.title}</h3>
                    <span class="inline-flex items-center gap-2 text-sm text-teal-700 mt-4">
                      ブログを読む
                    </span>
                  </div>
                </a>
              ))}
            </div>
          )}
        </div>
      </section>

      <section id="reports" class="pb-12">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="text-center mb-8">
            <h2 class="text-2xl sm:text-3xl font-semibold">参加レポート</h2>
            <p class="text-gray-700 mt-2">参加いただいた皆さんのレポートをご紹介します。</p>
          </div>
          <div class="grid grid-cols-2 gap-6 lg:grid-cols-3">
            {sortedReportPosts.map((post) => (
              <a
                href={post.url}
                target="_blank"
                rel="noopener noreferrer"
                class="group bg-white rounded-3xl overflow-hidden shadow-lg border border-gray-200 hover:border-teal-500 hover:shadow-xl transition-colors"
              >
                <div class="aspect-[16/9] bg-gray-100 overflow-hidden">
                  <img
                    src={post.image}
                    alt={post.title}
                    class="h-full w-full object-cover group-hover:scale-105 transition-transform"
                    loading="lazy"
                  />
                </div>
                <div class="p-6">
                  <div class="flex items-center justify-between text-xs text-gray-500">
                    <span>{post.date}</span>
                    <span>@{post.account}</span>
                  </div>
                  <h3 class="text-lg font-semibold text-gray-900 mt-2">{post.title}</h3>
                  <span class="inline-flex items-center gap-2 text-sm text-teal-700 mt-4">
                    ブログを読む
                  </span>
                </div>
              </a>
            ))}
          </div>
        </div>
      </section>

      <section id="next" class="pb-16">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="bg-teal-600 rounded-3xl p-8 shadow-xl border border-teal-600 text-white">
            <h2 class="text-2xl font-semibold mb-4">次回に向けて</h2>
            <p class="text-teal-50 leading-relaxed">
              BuriKaigiは皆さまのフィードバックでより良いイベントへ成長していきます。感想やご意見がありましたら、公式Xやコミュニティ経由でお寄せください。
            </p>
            <div class="mt-6">
              <a href="/2026/" class="inline-flex items-center gap-2 bg-white text-teal-700 px-6 py-3 rounded-full shadow">
                トップページへ戻る
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</Layout>
