---
import Layout from '../layouts/Vanilla.astro';
import { Header } from '../components/Header'
import { Hero } from '../components/Hero'
import { Newsletter } from '../components/Newsletter'
import { Schedule } from '../components/Schedule'
import { Speakers } from '../components/Speakers.tsx'
import { Sponsors } from '../components/Sponsors'

const allSpeakers = await Astro.glob('./speakers/*.md');
const speakers: any[] = allSpeakers.map(speaker => ({
  ...speaker.frontmatter,
  url: speaker.url
}))

const allSponsors = await Astro.glob('./sponsors/*.md');
const sponsors: any[] = allSponsors.map(sponsor => ({
  ...sponsor.frontmatter,
  url: sponsor.url
}))

const buriSponsors = sponsors.filter(v => v.type === "鰤しゃぶ")
const roomSponsors = sponsors.filter(v => v.type === "ルーム")
const noveltySponsors = sponsors.filter(v => v.type === "ノベルティ")
---

<Layout>
  <Header />
  <main class="flex-auto">
    <Hero />
    <Speakers speakers={speakers} />
    <Schedule speakers={speakers} />
    <Sponsors sponsors={buriSponsors}
      title="Buri-Sponsors"
      titleClassName='mx-auto max-w-2xl text-center font-display text-4xl font-medium tracking-tighter text-gray-900 sm:text-5xl'
      className="mx-auto mt-20 mx-20 grid max-w-max grid-cols-1 place-content-center gap-x-16 gap-y-12 sm:grid-cols-2 md:gap-x-32 md:gap-x-16"      
    />
    <Sponsors sponsors={roomSponsors}
      title="Room-Sponsors"
      titleClassName='mx-auto max-w-2xl text-center font-display text-2xl font-medium tracking-tighter text-gray-900 sm:text-4xl'
      className="mx-auto mt-20 mx-20 grid max-w-max grid-cols-2 place-content-center gap-x-16 gap-y-12 sm:grid-cols-2 md:grid-cols-3 md:gap-x-32 md:gap-x-16"
    />
    <Sponsors sponsors={noveltySponsors}
      title="Novelty-Sponsors"
      titleClassName='mx-auto max-w-2xl text-center font-display text-1xl font-medium tracking-tighter text-gray-900 sm:text-3xl'
      className="mx-auto mt-20 mx-20 grid max-w-max grid-cols-3 place-content-center gap-x-16 gap-y-12 sm:grid-cols-4 md:gap-x-32 md:gap-x-16"
    />
    <Newsletter />
  </main>
</Layout>
